.container {
  padding-left: 20px;
  padding-right: 20px;
}

.findButton {
  width: 70px;
  height: 25px;
  background-color: #0000ff;
  border: none;
  text-align: center;
  color: #ffffff;
  border-radius: 5px;
}

.findForm {
  display: flex;
  margin-bottom: 20px;
}
