.navigation {
  display: flex;
  padding-left: 20px;
  justify-content: flex-start;
  align-items: center;
  height: 40px;
  background-color: #0000ff;
  margin-bottom: 20px;
}

.navigationLink {
  margin-right: 20px;
  color: #ffffff;
}
